
body {
    background-image: url("wallpaper.png");
}

.oculto{
    display: none;
}

.mostrar
{
	display: inline;
}

.techito
{ 
	margin-top:20px; 
}

.anchoMaximo
{
	width: 100%;
}

.tablaConBorde
{
	border: 3px solid black;
}


/* Asi se hace lo de arriba macho */
.glyphicon{
    margin-right: 3px;
}

.botonPequenio
{
	padding: 10em;
}

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

.margen-derecho
{
	margin-right: 20px;
}


/* GLOBALES */

.textoRojo{
    color: red;
}

.textoAzul{
    color: red;
}

/* PANTALLA BIENVENIDO */
.bdoJumbotron{
    color: #DBD9DB;
    background-color: #222222;
}

/* SACAR FLECHAS INPUT NUMBER */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* ######################### ESTILOS PANTALLA DE CARGA DE DATOS OSEA SALDO ######################### */

.div-principal{
    text-align: center;    
    margin: auto;
    font-size: 16px;
}


.div-fecha{
    margin-top: 18px;
    margin-bottom: 18px;
    /* background-color: red; */
    height: 40px;
}

.div-campo{
    /* background-color: green; */
    height: 40px;
    line-height: 40px;
    margin-bottom: 12px;
}

.div-campo-texto{
    /* background-color: yellow; */
    text-align: right;
    display: inline-block;
    width: 30%;
    height: 100%;
}

.div-campo-inputs{
    /* background-color: red; */
    vertical-align: top;
    text-align: center;
    width: 30%;
    height: 100%;
    display: inline-block;
}

.texto-campo{
    font-weight: bold;
    position: relative;
    font-size: 16px;
}

.input-campo{
    position: relative;
    height: 26px;
    width: 90%;
}

.div-campo-botones{
    /* background-color: blue; */
    text-align: left;
    vertical-align: top;
    width: 40%;
    height: 100%;
    display: inline-block;

}

.texto-error-fecha{
    color: red;
    position: absolute;
    margin-left: 10px;
    font-weight: bold;
}

.texto-error-campos{
    color: red;
    font-weight: bold;
}

.modal-panel-saldo{
    height: 60px;
    width: 50%;
    margin: auto;
    position: relative;
    text-align: right;
}

.modal-saldo{
    height: 100px;
}


/* PANTALLA CARGA DE DATOS ESTILOS <--- MENTIRA, HAY ESTILOS GLOBALES ACA */

.panel-footer{
    text-align: center;    
}

.panel-izquierdo{
    /* background-color: blue; */
    height: 560px;
    width: 50%;
    margin: auto;
    position: relative;
    text-align: right;
    /* top: 20px; */
}


.cabeza-panel-izquierdo{
    /* background-color: red; */
    height: 35px;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    line-height: 35px;
}

.campo-panel{
    height: 35px;
    font-size: 16px;
    text-align: center;
    /* background-color: green; */
}

.texto-fecha{
    font-weight: bold;
    font-size: 18px;
}
.sdoFechaInput{
    width: 40%;
}

.sdoErrorSpanFecha{
    position: absolute;
    width: 60%;
    color: red;
}

.lado-izquierdo{
    /* background-color: yellow; */
    text-align: left;
    height: 100%;
    width: 50%;
    float: left;
}

.lado-derecho{
    /* background-color: green; */s
    height: 100%;
    width: 50%;
    float: left;
}

.input-panel{
    width: 90%;
}

.panel-botones{
    /* background-color: green; */
    height: 50px;
}


.sdoErrorSpanCampos{
    color: red;
}

.sdoSFRBoton{
    font-size: 12px;
    position: absolute;
    width: 30%;
}

/* MODAL MODIFICAR */

.panel-izquierdo-modificar{
    /* background-color: blue; */
    height: 550px;
    width: 40%;
    margin: auto;
    position: relative;
    text-align: right;
    display: inline-block;
    /* top: 20px; */
}

.panel-derecho{
    float: right;
}

/* ############################################## Produccion ############################################## */

.matriz-fecha{
    top: 20px;
    height: 40px;
    width: 90%;
    margin: auto;
}

.matriz-fecha-content{
    position: relative;
    top: 10px;
}

.produccionTextoFecha{
    font-size: 18px;
    font-weight: bold;
}

.campoInvalido{
    border: 1.5px solid red;
}

.fondo-carga{
    width: 100%;   
    height: 1020px;
}



.prod-tabla-carga{
    margin-top: 20px;
    //background-color: red;
    height: 120px;
    border: solid 1px #DDDDDD;
}

.prod-tabla-campos{
    float: left;
    //background-color: skyblue;
    height: 100%;
    width: 80%;
}

.prod-tabla-botones{
    float: right;
    //background-color: green;
    height: 100%;
    width: 20%;
}

.tituloTabla{
    border: solid 1px #DDDDDD;
    //border-bottom: none;
    background-color: #337AB7;
    color: white;
}

.inputProduccion{
    width: 90%;
    position: relative;
    /* right: 10px; */    
}

.inputProduccionEstilo{
    width: 90%;
    position: relative;
    /* right: 10px; */    
}

.camposTabla{
    height: 100%;
}

.camposTablaArriba{
    height: 50%;
}

.camposTablaAbajo{
    height: 50%;
}

.prod-tabla-botones{

}


/* 
.matriz-carga{
    width: 90%;
    height: 580px;
    margin: auto;
}

.prodCargarDivFecha{
    width: 90%;
    margin: auto;
    font-size: 16px;
    height: 28px;
}

.inputProduccion{
    width: 100%;

}

.cabezaTabla{
    font-weight: bold;
}

.tipoDe{
    vertical-align: middle !important;
}

.rayado{
    background-color: #cfcfcf;
}

.rayadoOscuro{
    background-color: #909090;
}



.produccionInputFecha{
    width: 20%;
}


td{
    text-align: center;
}


/// Produccion Modificar ///

.prodModificarFecha{
    height: 28px;
    width: 100%;
    font-size: 16px;    
}


.prodModifDivAntes{
    height: 40px;
    font-size: 24px;
}

.prodModificarIzq{
    width: 49%;
    height: 540px;
    display: inline-block;
}

.prodModifDivDespues{
    height: 40px;
    font-size: 24px;
}

.prodModificarDer{
    width: 49%;
    height: 540px;
    float: right;
}

// CLASES USADAS POR JAVASCRIPT  //



.spanCamposIncorrectos{
    position: absolute;
    left: 10%;
    color: red;
    font-weight: bold;
}


@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

 */


/* // Modal Carga // */

.modal-cargar{
    text-align: center;
}

.modal-titulo-carga{
    margin-top: 0px;
    border-style: none;
    //border-width: 2px;
}

.cargarTituloTabla{
    text-align: center;
    //background-color: #337AB7;
    background-color: lightgray;
    //color: white;
    //font-weight: bold;
    font-size: 16px;
}

/* // Modal contrasenia // */

.prodContraseniaTextoTitulo{
    font-weight: bold;
}

.prodContraseniaDivPrincipal{
    text-align: center;
    font-size: 20px;
}

.prodContraseniaDivMensaje{
    text-align: center;
    font-size: 12px;
    color: red;
    height: 28px;
    line-height: 28px;  
}

.inputCentrado{
    text-align: center;
}



/* ############################################## RRHH ############################################## */
/* ESTILOS - RRHH */

.rrhhFechaDiv{
    height: 35px;
    font-size: 16px;
    text-align: center;
    top: 10px;
    position: relative;
}


.panel-rrhh{
    /* background-color: blue; */
    height: 220px;
    width: 50%;
    margin: auto;
    position: relative;
    text-align: right;
    /* top: 20px; */
}

.rrhhTituloTexto{
    height: 35px;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
}

.rrhhAsistenciaInput{
    text-align: center;
}

.panel-rrhh{
    height: 220px;
}

.rrhhErrorSpanFecha{
    position: absolute;
    width: 60%;
    color: red;
}

/*Estilos pantalla admin*/
.div-admin{
    text-align: center;    
    margin: auto;
    font-size: 16px;
    height: 640px;
}

.admin-filtros{
    height: 80px;
    line-height: 80px;
    font-weight: bold;
}

#inputAdminFiltro{
    height: 30px;
    width: 20%;
    display: inline;
}

.admin-tabla{
    height: 480px;
    overflow-y: auto;
}

.admin-tabla-posta{
    width: 100%;
    position: relative;
    text-align: center;
}

.admin-tabla-cuerpo{
    display: none;
}

.admin-tabla-posta th{
    text-align: center;
}

.admin-tabla-posta td{
    text-align: center;
    height: 20px;
}

.admin-botones{
    position: relative;
    top: 20px;
    height: 40px;
    /* line-height: 100px; */
}

.admin-boton-agregar{
    position: relative;
    bottom: 0px;
    /* height: 40px; */
    width: 90px;
}

.user-checkbox{
    padding-right: 20px;
}

.gris{
    color: gray;
}

.botonito{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
}


.spanErrorAdmin{
    color: red;
    position: absolute;
    left: 20px;
}

/* Iconos SVG */

.svgIcon{
    height: 20px;
    position: absolute;
    margin-left: 5px;
}

.svgIconSaldo{
    position: relative;
}

.svgIconRRHH{
    position: absolute;
    margin-left: -25px;
}

/* ################################ Estilos GLOBALES ################################ */

.centrado{
    text-align: center;
}

/* ################################ ESTILOS PRODUCCION NUEVOS################################ */

/* Estilos del body */

.prodDivBody{
    //height: 1200px;
    background-color: #F5F5F5;
}

/* Estilos de la fecha */

.prodDivFechaExt{
    height: 60px;
}

.prodDivFechaInt{
    /* background-color: blue; */
    height: 60px;
    width: 40%;
    margin:auto;
}

.prodDivFechaInt2{
    /* background-color: green; */
    height: 25px;
    position: relative;
    top: 10px;
    line-height: 25px;
    text-align: center;
}

.prodTextoFecha{
    font-size: 16px;
}

.prodFecha{
    height: 25px;
}

.prodDivDatos{
    height: 1500px;
}

/* Estilos de las tablas de carga de datos */

.cargaDatos{
    height: 400px;
    /* background-color: green; */
}

.cargaDatosSimple{
    height: 237px;
}

/* ################################ ESTILOS TARJETAS ################################ */


.tituloPrimario{
    height: 25px;
    line-height: 25px;
    border: solid 1px #DDDDDD;
    background-color: #337AB7;
    color: white;
    text-align: center;
}

.cuerpoPrimario{
    height: 140px;
    border: solid 1px #DDDDDD;
}


.tituloSecundario{
    height: 25px;
    line-height: 25px;
    border: solid 1px #DDDDDD;
    background-color: #337AB7;
    color: white;
    text-align: center;
}

.tituloWarning{
    height: 25px;
    line-height: 25px;
    border: solid 1px #DDDDDD;
    background-color: #EC971F;
    color: white;
    text-align: center;
}

.cuerpoSecundario{
    height: 140px;
    border: solid 1px #DDDDDD;
}



.cuerpoCampos{
    width: 80%;
    float: left;
    border-right: solid 1px #DDDDDD;
    height: 100%;
}

.cuerpoBotones{
    width: 20%;
    float: right;
    height: 100%;
    border: solid 1px #DDDDDD;
    
}

.botonProd{
    display: block;
    margin: auto;
    position: relative;
    margin-top: 8px;
    width: 70%;
}

.campoTitulos{
    /* background-color: blue; */
    height: 15%;
    font-size:0;

}

.campoTitulo{
    /* background-color: green; */
    font-size: 12px;
    height: 100%;
    width: 20%;
    border: solid 1px #DDDDDD;
    text-align: center;
    float: left;
}

.campoEntradas{
    height: 85%;
    font-size: 0;
    /* background-color: red; */
}

.campoEntrada{
    font-size: 12px;
    height: 100%;
    /* background-color: red; */
    width: 20%;
    border: solid 1px #DDDDDD;
    text-align: center;
    float: left;
}

.campoEntradaInterior{
    position: relative;
    height: 80%;
    top: 10%;
}

.cuerpoBotones{
    text-align: center;
    height: 100%;
}

.botonProd{

}

.textoKG{
}

.textoUM{
}

.inputKG{
    width: 80%;
}

.inputUM{
    width: 80%;
}

.cargarTituloTablaModal{
    text-align: center;
    background-color: lightgray;
    font-size: 14px;
}

.cuerpoCamposModal{
    width: 100%;
    float: left;
    border-right: solid 1px #DDDDDD;
    height: 100%;
}

.campoEntradaInteriorModalModificar{
    position: relative;
    height: 90px;
    top: 10%;
}

.tituloModalModificar{
    font-size: 14px;
}

.campoEntradaModificarCorte{
    font-size: 12px;
    height: 80%;
    /* background-color: red; */
    width: 20%;
    border: solid 1px #DDDDDD;
    text-align: center;
    float: left;
}

.spanFechaIncorrecta{
    position: absolute;
    white-space:nowrap;
    margin-left: 10px;
    color: red;
}

.spanCamposIncorrectos{
    position: absolute;
    white-space:nowrap;
    margin-left: 10px;
    color: red;
}

/* ################################ PIRAMIDE ################################# */

